- @articles.each do |article|
  .ui.clearing.segment
    %h2.ui.header
      = link_to article_path(article.identifier) do
        = article.title
      .sub.header
        = article.published_at.strftime('%Y/%m/%d')
    .labels
      = link_to category_path(article.category.identifier) do
        .ui.violet.ribbon.label
          = article.category.name
      - article.tags.each do |tag|
        = link_to tag_path(tag.identifier) do
          .ui.pink.tag.label
            = tag.name
    .ui.hidden.divider
    .ui.main.container
      - if article.sections.figure.count != 0
        .ui.fluid.card
          .image
            = image_tag(article.sections.figure.first.image_url)
      - if article.sections.paragraph.count != 0
        %p= article.sections.paragraph.first.description

    .ui.hidden.divider

    = link_to article_path(article.identifier), class: 'ui right floated animated teal button' do
      .visible.content
        Read more
      .hidden.content
        %i.right.arrow.icon
