.ui.segment
  %h2.ui.header
    = @article.title
    .sub.header
      = @article.published_at
  = link_to category_path(@article.category.identifier) do
    .ui.violet.ribbon.label
      = @article.category.name
  - @article.tags.each do |tag|
    = link_to tag_path(tag.identifier) do
      .ui.pink.tag.label
        = tag.name
  - @article.sections.each do |section|
    .ui.hidden.divider
    .ui.main.container
      - if section.paragraph?
        - if section.title.present?
          %h3.ui.header= section.title
        %p= section.description
      - if section.image?
        .ui.fluid.card
          .image= image_tag(section.image_url)
          - if section.description.present?
            .content
              .description= section.title
              - if section.description.present?
                .meta= section.description
      - if section.link?
        .ui.fluid.card
          .content
            - if section.image_url.present?
              .right.floated.small.ui.image
                = link_to section.url do
                  = image_tag(section.image_url)
            .header
              = link_to section.url do
                = section.title
            - if section.source.present?
              .meta= section.source
            - if section.description.present?
              .description= section.description
      - if section.location?
        .ui.fluid.card
          .image
            .googlemap
              %iframe{ src: section.url, frameborder: 0, allowfullscreen: true }
          - if section.url.present?
            .content
              .header= section.title
              .description= section.description
