.ui.segment
  %h2.ui.header
    = @article.title
    .sub.header
      = l @article.published_at
  = link_to category_path(@user.identifier, @article.category.identifier) do
    .ui.violet.ribbon.label
      = @article.category.name
  - @article.tags.each do |tag|
    = link_to tag_path(@user.identifier, tag.identifier) do
      .ui.pink.tag.label
        = tag.name
  - @article.sections.each do |section|
    .ui.hidden.divider
    .ui.main.container
      - if section.paragraph?
        - if section.title.present?
          %h3.ui.header= section.title
        %p= section.description
      - if section.image?
        .ui.fluid.card
          .image= image_tag(section.image_url)
          - if section.description.present?
            .content
              .header= section.title
              - if section.description.present?
                .description= section.description
      - if section.link?
        = link_to section.url do
          .ui.fluid.blue.card
            .content
              - if section.og_image.present?
                .right.floated.small.ui.image
                  = image_tag(section.og_image)
              .header
                = section.og_title
              - if section.og_site_name.present?
                .meta= section.og_site_name
              - if section.og_description.present?
                .description= section.og_description
      - if section.location?
        .ui.fluid.card
          .image
            .googlemap
              %iframe{ src: section.url, frameborder: 0, allowfullscreen: true }
          - if section.url.present?
            .content
              .header= section.title
              .description= section.description
