%section.content-header
  %h1 Categories
%section.content
  .box
    .box-header.with-border
      = link_to new_dashboard_category_path, class: 'btn btn-sm btn-success pull-left' do
        Create new category
    .box-body
      .table-responsive
        %table.table.no-margin
          %thead
            %tr
              %th name
              %th identifier
              %th articles
              %th edit
              %th destroy
          %tbody
            - @categories.each do |category|
              %tr
                %td= category.name
                %td= category.identifier
                %td
                  %span.badge
                    = category.articles.published.count
                    != '/'
                    = category.articles.count
                %td= link_to 'Edit', edit_dashboard_category_path(category), class: 'btn btn-xs btn-success'
                %td= link_to 'Destroy', dashboard_category_path(category), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }
