= form_for @user, url: dashboard_sessions_path do |f|
  .input
    = f.label :email
    = f.text_field :email
  .input
    = f.label :password
    = f.password_field :password
  .input
    = f.submit 'Login'
