%section.content-header
  %h1 Tags
%section.content
  .box
    .box-header.with-border
      = link_to new_dashboard_tag_path, class: 'btn btn-sm btn-success pull-left' do
        Create new tag
    .box-body
      .table-responsive
        %table.table.no-margin
          %thead
            %tr
              %th name
              %th identifier
              %th articles
              %th edit
              %th destroy
          %tbody
            - @tags.each do |tag|
              %tr
                %td= tag.name
                %td= tag.identifier
                %td
                  %span.badge
                    = tag.articles.published.size
                    != '/'
                    = tag.articles.size
                %td= link_to 'Edit', edit_dashboard_tag_path(tag), class: 'btn btn-xs btn-success'
                %td= link_to 'Destroy', dashboard_tag_path(tag), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }
