%section.content-header
  %h1 Site
%section.content
  = form_with model: [:dashboard, @site], html: { class: 'form-horizontal' } do |f|
    .box
      .box-header
        = link_to dashboard_site_url, class: 'btn btn-sm btn-info pull-left' do
          = t :back
      .box-body
        .form-group{ class: ('has-error' if f.object.errors.full_messages_for(:title).any?) }
          = f.label :title, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :title, class: 'form-control'
            = render 'dashboard/shared/error_message', item: f.object, column: :title
        .form-group{ class: ('has-error' if f.object.errors.full_messages_for(:description).any?) }
          = f.label :description, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_area :description, class: 'form-control'
            = render 'dashboard/shared/error_message', item: f.object, column: :description
        .form-group
          = f.label :copyright, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :copyright, class: 'form-control'
            = render 'dashboard/shared/error_message', item: f.object, column: :copyright
        .form-group
          = f.label :started_at, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :started_at, class: 'form-control pull-right', value: I18n.l(f.object.started_at)
            = render 'dashboard/shared/error_message', item: f.object, column: :started_at

      .box-footer
        = f.submit class: 'btn btn-sm btn-success pull-right'
