%section.content-header
  %h1 Site
%section.content
  .box
    .box-body
      %dl.dl-horizontal
        %dt= Site.human_attribute_name(:title)
        %dd= @site.title
        %dt= Site.human_attribute_name(:description)
        %dd= @site.description
        %dt= Site.human_attribute_name(:copyright)
        %dd= @site.copyright
        %dt= Site.human_attribute_name(:started_at)
        %dd= l @site.started_at
        %dt= Site.human_attribute_name(:created_at)
        %dd= l @site.created_at
        %dt= Site.human_attribute_name(:updated_at)
        %dd= l @site.updated_at

    .box-footer
      = link_to 'Edit', edit_dashboard_site_path(@site), class: 'btn btn-sm btn-success pull-right'
