.form-group
  = f.label :url, class: 'col-sm-2 control-label'
  .col-sm-10
    .input-group
      = f.text_field :url, class: 'form-control'
      .input-group-btn
        = f.submit 'Preview', class: 'btn btn-info', name: 'preview'
    = render 'dashboard/shared/error_message', item: f.object, column: :url
.form-group
  = f.label :og_title, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :og_title, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :og_title
.form-group
  = f.label :og_description, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_area :og_description, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :og_description
.form-group
  = f.label :og_image, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :og_image, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :og_image
.form-group
  = f.label :og_site_name, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :og_site_name, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :og_site_name
