.form-group
  = f.label :image, class: 'col-sm-2 control-label'
  .col-sm-10
    - if f.object.image?
      = attachment_image_tag f.object, :image, class: 'img-responsive'
    = f.attachment_field :image, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :image
.form-group
  = f.label :title, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :title, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :title
.form-group
  = f.label :description, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_area :description, class: 'form-control'
    = render 'dashboard/shared/error_message', item: f.object, column: :description
