= form_with model: [:dashboard, section], url: path, html: { class: 'form-horizontal' }, multipart: section.image? do |f|
  .box
    = f.hidden_field :content_type
    .box-header
      = link_to dashboard_article_path(f.object.article), class: 'btn btn-sm btn-info pull-left' do
        Back
    .box-body
      - if f.object.paragraph?
        = render 'form_paragraph', f: f
      - elsif f.object.image?
        = render 'form_image', f: f
      - elsif f.object.link?
        = render 'form_link', f: f
      - elsif f.object.location?
        = render 'form_location', f: f
    .box-footer
      = f.submit 'Create', class: 'btn btn-sm btn-success pull-right'
