!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'width=device-width', name: 'viewport' }
    %title
      - if @article.present?
        = @article.title
        = ' - '
      = @user.blog_title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.hidden.divider

    %h1.ui.center.aligned.header
      .content
        = link_to @user.blog_title, root_path(@user.identifier)
        - if @user.blog_description.present?
          .sub.header
            = @user.blog_description

    .ui.hidden.divider

    .ui.main.container
      .ui.breadcrumb
        = link_to root_path(@user.identifier) do
          %i.home.icon
        - if @tag.present?
          %i.right.angle.icon.divider
          .section.active
            = link_to @tag.name, category_path(@user.identifier, @tag.identifier), class: 'section'
        - if @category.present?
          %i.right.angle.icon.divider
          .section.active
            = link_to @category.name, category_path(@user.identifier, @category.identifier), class: 'section'
        - if @article.present?
          %i.right.angle.icon.divider
          = link_to @article.category.name, category_path(@user.identifier, @article.category.identifier), class: 'section'
          %i.right.angle.icon.divider
          .section.active
            = @article.title

    .ui.hidden.divider

    .ui.two.column.grid.main.container
      .eleven.wide.computer.eleven.wide.tablet.sixteen.wide.mobile.column

        = yield

      .five.wide.computer.five.wide.tablet.sixteen.wide.mobile.column

        .ui.secondary.segment
          %h3.ui.header
            Categories
          .ui.labels
            - @categories.each do |category|
              - unless category.public_articles.size.zero?
                = link_to category_path(@user.identifier, category.identifier), class: 'ui violet label' do
                  = category.name
                  .detail
                    = category.public_articles.size

        .ui.secondary.segment
          %h3.ui.header
            Tags
          .ui.tag.labels
            - @tags.each do |tag|
              - unless tag.public_articles.size.zero?
                = link_to tag_path(@user.identifier, tag.identifier), class: 'ui pink label' do
                  = tag.name
                  .detail
                    = tag.public_articles.size

    .ui.hidden.divider

    %h5.ui.center.aligned.header
      .sub.header
        &copy;
        - if Time.current.year != @user.blog_started_at.year
          = @user.blog_started_at.strftime('%Y ')
          != '-'
        = Time.current.year
        != '&nbsp;'
        = @user.name

    .ui.hidden.divider

    = javascript_pack_tag 'application'
    -# = javascript_pack_tag 'hello_vue'
    = javascript_pack_tag 'show_message'
